[*.{kt,kts}]
# possible values: number (e.g. 2), "unset" (makes ktlint ignore indentation completely)  
indent_size=4
# true (recommended) / false
insert_final_newline=true
# possible values: number (e.g. 120) (package name, imports & comments are ignored), "off"
# it's automatically set to 100 on `ktlint --android ...` (per Android Kotlin Style Guide)
max_line_length=off
# Disabled rules. Rules are disabled either by disabling a rule set or disabling individual rules. 
# To disable an individual rule, it requires a special kind of naming:
# ktlint_ + rule set the rule belongs to (probably `standard`) + _ + name of the rule. 
ktlint_standard_filename = disabled 
ktlint_standard_no-wildcard-imports = disabled 